<div class="paper-box">
    <div class="menu-text">
        <a href="kalender.html">Kalender</a>
    </div>
<div class="menu-text">
    <a href="minigame.html">Hitta snögubbe</a>
    </div>
    
</div>
