<p class="beskrivning">Se önskelistan nedan och klicka<br>på något av alternativen nedan för att gå vidare</p>

<div class="paper-box">

    <a class="menu-text" href="kalender.html">Kalender</a>

    <a class="menu-text" href="minigame.html">Hitta snögubbe</a>
    
</div>
