<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zacks Julkalender</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <h2 class="header-text">Välkommen till</h2>
            <a class="logo-box" href="index.html"></a>
            
        </header>

        <main>
            <%= yield %>
        </main>
    
        <footer></footer>
        <script src="js/main.js"></script>
    </div>
</body>
</html>