body{
    margin: 0;
    height: 100%;
}
.wrapper{
    margin: 0;
    width: 100vw;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
}

header{
    height: 11.5vh;
    width: 100vw;
    background-color: #FF565F;
    display: flex;
    justify-content: center;
}

.logo-box{
    height: 100%;
    width: 80%;
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*@font-face{
        font-family: 'Rage';
        src: url('RageItalic.woff2') format('woff2'),
            url('RageItalic.woff'),  format('woff');
        font-weight: normal;
        font-style: italic;*/

.header-text{
    font-family: 'Rage';
    font-style: italic;
    font-weight: normal;
    font-size: 2.2rem;
    color: white;
    margin: 0;
    position: absolute;
}

main{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main-kalender{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}

.beskrivning{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    top: 17%;
    text-shadow: 0px 0px 6px #000000;
}
.paper-box{
    margin-top: 30%;
    width: 80%;
    height: 50%;
    background-image: url(../img/paper.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu-text{
    margin-top: 30px;
    font-family: 'Pristina';
    font-size: 2.5rem;   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menu-text:nth-child(1){
    margin-top: 30%;

}

.menu-text:nth-child(2){
    margin-bottom: 50%;

}

p{
    margin: 0;
}

.lucka{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #FF565F;
    border-radius: 15px;
    box-shadow: 0px 6px 63px -9px rgba(0,0,0,0.55);
    transition: 0.3s;
}

.lucka p{
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
}

.activate{

}

footer{
    visibility: hidden;
    height: 20vh;
}

@media (min-device-width: 1000px){
    

    footer{
        visibility: visible;
        background-color: white;
        height: 20vh;
    }




}

